<ion-header>
	<ion-toolbar>
		<div flexHeader>
      <div backHead>
				<ion-back-button routerLink=""></ion-back-button>
			</div>
			<ion-title>Address</ion-title>
			<div ml-auto>
				<ion-button fill="none">
         		 	<img src="assets/img/plus-icon.svg"> Add
				</ion-button>
			</div>
		</div>
	</ion-toolbar>
</ion-header>


<ion-content>
	<div address-div>
		<h4 title-h>Saved Address 1 <a seeall-btn routerLink="/add-address" href="javascript:void(0)">
			<img src="assets/img/pencil.svg"> Edit </a>
		</h4>
		<ion-list>
			<ion-item lines="none">
			  <ion-label>Name</ion-label>
			  <span slot="end" >Marvis lghedosa</span>
			</ion-item>
			<ion-item lines="none">
			    <ion-label>Email</ion-label>
			  	<span slot="end" >dosamarvis@gmail.com</span>
			</ion-item>
			<ion-item lines="none">
				<ion-label>Address</ion-label>
				<span slot="end" >444 W. Jefferson Street<br> Mahopac, NY 10541</span>
			</ion-item>
			<ion-item lines="none">
				<ion-label>Postal Code</ion-label>
				<span slot="end" >133204</span>
			</ion-item>
		</ion-list>
		<h4 title-h>Saved Address 2 <a seeall-btn routerLink="" href="javascript:void(0)">
			<img src="assets/img/pencil.svg"> Edit </a>
		</h4>
		<ion-list>
			<ion-item lines="none">
			  <ion-label>Name</ion-label>
			  <span slot="end" >Marvis lghedosa</span>
			</ion-item>
			<ion-item lines="none">
			    <ion-label>Email</ion-label>
			  	<span slot="end" >dosamarvis@gmail.com</span>
			</ion-item>
			<ion-item lines="none">
				<ion-label>Address</ion-label>
				<span slot="end" >444 W. Jefferson Street<br> Mahopac, NY 10541</span>
			</ion-item>
			<ion-item lines="none">
				<ion-label>Postal Code</ion-label>
				<span slot="end" >133204</span>
			</ion-item>
		</ion-list>
		
	</div>
</ion-content>
