<ion-header>
	<ion-toolbar>
		<div flexHeader>
			<div backHead>
				<ion-back-button></ion-back-button>
				<img src="assets/img/img1.jpg" alt="">
				<ion-title>  Amelia Bedi</ion-title>
			</div>
			<div ml-auto>
				<ion-button toggle><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
			</div>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div padding>
		<div dateMsg>
			<span></span><p>Today</p><span></span>
		</div>

		<div msgs>
			<div lftsidemsg>
				<span><img src="assets/img/img2.jpg" alt=""></span>
				<div msg>
					<p>Hi Jake, how are you? I saw on the app that we’ve crossed paths several times this week 😄</p>
					<small>2:55 PM</small>
				</div>
			</div>
		</div>
		<div msgs rit>
			<div lftsidemsg>
				<div msg>
					<p>Haha really! Nice to meet you Grace! How about a cup of coffee tonight? ☕️</p>
					<small>3:45 PM</small>
				</div>
			</div>
		</div>
		<div msgs>
			<div lftsidemsg>
				<span><img src="assets/img/img2.jpg" alt=""></span>
				<div msg>
					<p>Sure, let’s do it! 😊</p>
					<small>2:55 PM</small>
				</div>
			</div>
		</div>
		<div msgs rit>
			<div lftsidemsg>
				<div msg>
					<p>Great I will write later the 
time and place. See you soon!</p>
					<small>3:45 PM</small>
				</div>
			</div>
		</div>

		<div typemsg>
			<ion-icon name="link-outline"></ion-icon>
			<ion-input placeholder="Message"></ion-input>
			<ion-icon emoji name="happy"></ion-icon>
		</div>
	</div>
</ion-content>
