<ion-header>
	<ion-toolbar>
		<div flexHeader>
			<div backHead>
				<ion-back-button defaultHref="/messages" [text]="" icon="chevron-back-outline"></ion-back-button>
				<img src="{{ valletData?.image }}" alt="">
				<ion-title>{{ valletData?.name }}</ion-title>
			</div>
			<div ml-auto>
				<ion-button toggle>
					<ion-icon name="ellipsis-vertical"></ion-icon>
				</ion-button>
			</div>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div padding>
		<div dateMsg>
			<span></span>
			<p>Today</p><span></span>
		</div>

		<ng-container *ngFor="let data of messageData">
			<ng-container *ngIf="fromId == data?.from_id || userId == data?.to_id;else ritmessage">
				<div msgs >
					<div lftsidemsg>
						<span><img src="{{ userImage }}" alt=""></span>
						<div msg>
							<ng-container chatleft *ngIf="data.typo === '1'">
								<img style="height: 100px;width: 100px;"
										src="https://in-eat.com/public/messages/{{ data.message }}">
							</ng-container>
							<p *ngIf="data.typo === '0'">{{ data.message }}</p>
							<small>{{ data.time }}</small>
						</div>
					</div>
				</div>
			</ng-container>

			<ng-template #ritmessage>
				<div msgs rit >
					<div lftsidemsg>
						<div msg>
							<ng-container chatleft *ngIf="data.typo === '1'">
								<img style="height: 100px;width: 100px;"
										src="https://in-eat.com/public/messages/{{ data.message }}">
							</ng-container>
							<p *ngIf="data.typo === '0'">{{ data.message }}</p>
							<small>{{ data.time }}</small>
						</div>
					</div>
				</div>
			</ng-template>
		</ng-container>

		<div typemsg>
			<form [formGroup]="messageForm" (ngSubmit)="onSubmit()" novalidate>
				<ion-icon (click)="selectImageSource()" name="link-outline"></ion-icon>
				<ion-input placeholder="Message" formControlName="message" (ionInput)="change($event)"
					placeholder="Write Message....."></ion-input>
				<span><img src="assets/img/msg-icon.svg"></span>

				<input type="file" accept="image/*" id="fileupload" (change)="uploadFile($event)" name="fileupload"
					hidden=true />
			</form>
		</div>
	</div>
</ion-content>