<ion-header>
	<ion-toolbar>
		<div flexHeader>
			<div backHead>
				<ion-back-button></ion-back-button>
				<img src="{{ valletData?.image }}" alt="">
				<ion-title> {{ valletData?.name }}</ion-title>
			</div>
			<div ml-auto>
				<ion-button toggle>
					<ion-icon name="ellipsis-vertical"></ion-icon>
				</ion-button>
			</div>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div padding>
		<div dateMsg>
			<span></span>
			<p>Today</p><span></span>
		</div>

		<ng-container *ngFor="let data of messageData">
			<ng-container *ngIf="data.typ === 'sender'">
				<div msgs>
					<div lftsidemsg>
						<span><img src="{{ valletData?.image }}" alt=""></span>
						<div msg>
							<ng-container chatleft *ngIf="data.typo === '1'">
								<p><img style="height: 100px;width: 100px;"
										src="https://in-eat.com/public/messages/{{ data.message }}"></p>
							</ng-container>
							<p *ngIf="data.typo === '0'">{{ data.message }}</p>
							<small>{{ data.time }}</small>
						</div>
					</div>
				</div>
			</ng-container>

			<ng-container *ngIf="data.typ === 'receiver'">
				<div msgs rit>
					<div lftsidemsg>
						<div msg>
							<ng-container chatleft *ngIf="data.typo === '1'">
								<p><img style="height: 100px;width: 100px;" src="https://in-eat.com/public/messages/{{ data.message }}"></p>
							</ng-container>
							<p *ngIf="data.typo === '0'">{{ data.message }}</p>
							<small>{{ data.time }}</small>
						</div>
					</div>
				</div>
			</ng-container>
		</ng-container>

		<div typemsg>
			<form [formGroup]="messageForm" (ngSubmit)="onSubmit()" novalidate>
				<ion-icon (click)="selectImageSource()" name="link-outline"></ion-icon>
				<ion-input placeholder="Message" formControlName="message" (ionInput)="change($event)"
					placeholder="Write Message....."></ion-input>
				<ion-icon emoji name="happy"></ion-icon>
				<input type="file" accept="image/*" id="fileupload" (change)="uploadFile($event)" name="fileupload"
					hidden=true />
			</form>
		</div>

	</div>
</ion-content>