ion-tabs
{
	ion-tab-bar
	{
		contain:initial!important;
		ion-tab-button{
			border-top:1px solid transparent;
			ion-icon{
				font-size: 30px;
				color:#aaa;
			}
			&.tab-selected{
				border-color: var(--ion-color-primary);
				ion-icon 
				{
					color: var(--ion-color-primary);
				}	
			}

		}
	}
}


