<ion-header>
  <ion-toolbar>
    <div flexHeader>
		<div backHead>
			<ion-back-button></ion-back-button>
		</div>
		<ion-title>Add Bowl</ion-title>
	</div>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div padding>
		<div form>
		<ion-row>
			<ion-col>
				<label>Bowl Name</label>
				<ion-input placeholder="Bowl Name"></ion-input>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<label>Choose Bowl</label>
				<ion-select placeholder="Choose">
			      <ion-select-option value="f">Bowl Name One</ion-select-option>
			      <ion-select-option value="m">Bowl Name Two</ion-select-option>
			    </ion-select>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<label>Description</label>
				<ion-textarea placeholder="Desciption"></ion-textarea>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-button btnsave>Add Bowl</ion-button>
			</ion-col>
		</ion-row>
	</div>

	</div>
</ion-content>
