ion-content { 
    [padding] {
        padding-top: 0;
        [addcardform]{
            margin:20px 0 0;
            ion-row{
                ion-col{
                    margin-bottom: 10px;
                    label{
                        font-size: 14px;
                        color: #777;
                        display: block;
                        margin: 0 0 10px;
                        font-weight: 500;
                    }
                    ion-input, ion-textarea, ion-select, ion-datetime{
                        border:1px solid #eee;
                        border-radius: 5px;
                        font-size: 14px;
                        color: #222;
                        padding:10px;
                    }
                }
            }
        }
        [btnsave]{
            height: 50px;
            border-radius: 10px;
            width: 100%;
            letter-spacing: 0;
            margin-top: 15px;
        }
    }
  
}
