<ion-header>
  <ion-toolbar>
    <div flexHeader>
		<div backHead>
			<ion-back-button></ion-back-button>
		</div>
		<ion-title>Add Group</ion-title>
	</div>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div padding>
		<div form>
		<ion-row>
			<ion-col>
				<label>Group Name</label>
				<ion-input placeholder="Group Name"></ion-input>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<label>Description</label>
				<ion-textarea placeholder="Desciption"></ion-textarea>
			</ion-col>
		</ion-row>
    <ion-row>
			<ion-col>
				<label>Add a cover image</label>
				<ion-input placeholder="" type="file"></ion-input>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-button btnsave>Add Group</ion-button>
			</ion-col>
		</ion-row>
	</div>

	</div>
</ion-content>
