<ion-header>
	<ion-toolbar>
		<div flexHeader>
			<div backHead>
				<ion-back-button defaultHref="/tabs/feed"></ion-back-button>
			</div>
			<ion-title>Bowl Details</ion-title>
			<div ml-auto>
				<ion-button fill="none">
					<ion-icon name="arrow-redo-outline"></ion-icon>
				</ion-button>
				<ion-button toggle>
					<ion-icon name="ellipsis-vertical"></ion-icon>
				</ion-button>
			</div>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div>
		<ion-segment mode="ios" [(ngModel)]="tabs" segment>
			<ion-segment-button value="posts">
				<ion-icon name="copy"></ion-icon>
				<h6>Posts</h6>
			</ion-segment-button>
			<ion-segment-button value="info">
				<ion-icon name="information"></ion-icon>
				<h6>Information</h6>
			</ion-segment-button>
			<ion-segment-button value="search">
				<ion-icon name="search"></ion-icon>
				<h6>Search</h6>
			</ion-segment-button>
		</ion-segment>
	</div>

	<div feedPage [ngSwitch]="tabs">
		<div *ngSwitchCase="'posts'">

			<div posts>
				<div postinner class="ion-padding" *ngFor="let feed of feeds">
					<ion-item lines="none" class="ion-no-padding">
						<ion-avatar *ngIf="feed?.posted_user_image!=''">
							<img src="{{ feed?.posted_user_image }}" />
						</ion-avatar>
						<ion-label>
							<h2 routerLink="/otherprofile">{{ feed?.posted_by }} <span>{{ feed?.posted_time }}</span>
							</h2>
						</ion-label>
						<ion-buttons slot="end" (click)="presentPopover($event)">
							<ion-icon name="ellipsis-vertical"></ion-icon>
						</ion-buttons>
					</ion-item>
					<p desc>{{ feed?.post_content }}</p>
					<ion-card class="ion-no-margin">
						<ion-card-content class="ion-no-padding">
							<div commentcounts>
								<div posticons>
									<a href="javascript:void(0)" hearticon>
										<ion-icon name="heart" *ngIf="feed?.is_like_by_user == 1"></ion-icon>
										<ion-icon name="heart-outline" *ngIf="feed?.is_like_by_user == 0"></ion-icon>
									</a>
									<a href="javascript:void(0)" (click)="presentCommentModal()">
										<ion-icon name="chatbubble-outline"></ion-icon>
									</a>
									<a href="javascript:void(0)">
										<ion-icon name="arrow-redo-outline"></ion-icon>
									</a>
								</div>
								<ion-row>
									<ion-col size="8" pl-0>
										<div [innerHTML]="feed?.liked_message"></div>
									</ion-col>
									<ion-col size="4" class="ion-text-right" pr-0 *ngIf="feed?.comments.length > 0">
										<p>Comments <b>{{ feed?.comments.length }}</b></p>
									</ion-col>
								</ion-row>

							</div>
							<ion-item lines="none" class="ion-no-padding" *ngFor="let comment of feed?.comments">
								<ion-avatar>
									<img src="{{ comment.posted_by_image }}" alt="" />
								</ion-avatar>
								<ion-label>
									<h2>{{ comment.posted_by }} <span>{{ comment.posted_on }}</span></h2>
									<p>{{ comment.comment_content }}</p>
								</ion-label>
							</ion-item>
						</ion-card-content>
					</ion-card>
				</div>
			</div>
		</div>

		<div infoTab *ngSwitchCase="'info'">
			<div titlePage>
				<h5>{{ pageData?.name }}</h5>
				<small>{{ pageData?.posted_on }}</small>
			</div>
			<ng-container *ngIf="pageData?.image!=''">
				<img src="{{ pageData?.image }}" alt="" mainImg>
			</ng-container>

			<div [innerHTML]="pageData?.peoples_joined" allmembers></div>
			<p para>{{ pageData?.description }}</p>
		</div>

		<div searchTab *ngSwitchCase="'search'">
			<div form>
				<ion-row>
					<ion-col>
						<label>Search Topic</label>
						<ion-input value="" placeholder=""></ion-input>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<h6>Related Topics</h6>
						<ul>
							<li><a href="">
									<ion-icon name="arrow-forward-outline"></ion-icon> Contrary to popular
								</a></li>
							<li><a href="">
									<ion-icon name="arrow-forward-outline"></ion-icon> long established 
								</a></li>
							<li><a href="">
									<ion-icon name="arrow-forward-outline"></ion-icon> Hampden-Sydney 
								</a></li>
							<li><a href="">
									<ion-icon name="arrow-forward-outline"></ion-icon> Bonorum et Malorum
								</a></li>
						</ul>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-button btnsave>Search</ion-button>
					</ion-col>
				</ion-row>
			</div>
		</div>
	</div>

</ion-content>