<ion-header>
	<ion-toolbar>
		<div flexHeader>
			<div backHead>
				<ion-back-button defaultHref="/tabs/feed" [text]="" icon="chevron-back-outline"></ion-back-button>
			</div>
			<ion-title>Messages</ion-title>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="main-padding">
		<div class="servic-near">
			<div searchbar>
				<ion-searchbar type="text" placeholder="Search a friend"></ion-searchbar>
			</div>
			<ion-list class="liat-st" lines="none">

				<ng-container *ngIf="chatLists">
					<ion-item lines="none" routerLink="/chat/{{ data?.from_id }}" *ngFor="let data of chatLists">
						<ion-avatar>
							<img src="{{ data?.image }}">
						</ion-avatar>
						<ion-label>
							<h2>{{ data?.name }}</h2>
							<p>{{ data?.message }}</p>
						</ion-label>
						<ion-note>{{ data?.created_at }}</ion-note>
					</ion-item>
				</ng-container>

			</ion-list>
		</div>
	</div>
</ion-content>