<ion-header>
  <ion-toolbar>
    <div flexHeader>
		<div backHead>
			<ion-back-button defaultHref="" [text]="" icon="chevron-back-outline"></ion-back-button>
		</div>
		<ion-title>Messages</ion-title>
	</div>
  </ion-toolbar>
</ion-header>
	
<ion-content>
	<div class="main-padding">
		<div class="servic-near">
			<div searchbar>
				<ion-searchbar  type="text" placeholder="Search a friend" ></ion-searchbar>
			  </div>
			<ion-list class="liat-st" lines="none">
				<ion-item lines="none" routerLink="/chat">
					<ion-avatar>
						<img src="assets/img/img1.jpg">
					</ion-avatar>
					<ion-label>
						<h2>Jessica Parker</h2>
						<p>How your life is going?</p>
					</ion-label>
					<ion-note>2 hrs</ion-note>
				</ion-item>
				<ion-item lines="none" routerLink="/chat">
					<ion-avatar>
						<img src="assets/img/img2.jpg">
					</ion-avatar>
					<ion-label>
						<h2>Julia Green</h2>
						<p>Wow, that’s awesome!</p>
					</ion-label>
					<ion-note>Yesterday</ion-note>
				</ion-item>
				<ion-item lines="none" routerLink="/chat">
					<ion-avatar>
						<img src="assets/img/img3.jpg">
					</ion-avatar>
					<ion-label>
						<h2>Miranda Bell</h2>
						<p>How your life is going?</p>
					</ion-label>
					<ion-note>26/06</ion-note>
				</ion-item>

				<ion-item lines="none" routerLink="/chat">
					<ion-avatar>
						<img src="assets/img/img4.jpg">
					</ion-avatar>
					<ion-label>
						<h2>Hanna Goldberg</h2>
						<p>How your life is going?</p>
					</ion-label>
					<ion-note>26/06</ion-note>
				</ion-item>

				<ion-item lines="none" routerLink="/chat">
					<ion-avatar>
						<img src="assets/img/img5.jpg">
					</ion-avatar>
					<ion-label>
						<h2>Mike Goldberg</h2>
						<p>How your life is going?</p>
					</ion-label>
					<ion-note>26/06</ion-note>
				</ion-item>			
			</ion-list>
		</div>
	</div>
</ion-content>
