ion-header{
	ion-toolbar{
		border:0 !important;
		--height: 50px;
		height: 50px;
		padding-top:3px; 
	}
	ion-title{
		font-weight: 500;
	}
}

.header-md:after{
	display: none;
}
ion-content {
	
	.main-padding {
		padding: 0px 15px 12px;
		float: left;
		width: 100%;
		min-height: 100%;
	}
	.catr-box {
		text-align: center;
		.img-bag {
			background: #7d8d98;
			text-align: center;
			width: 100%;
			height: 60px;
			border-radius: 7px;
			padding: 10px;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			img {
				height: 40px;
			}
		}
		h4 {
			margin: 0px;
			font-size: 11px;
			color: #5f666b;
			 
			margin-top: 5px;
		}
	}
	.servic-near {
		float: left;
		width: 100%;
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		[searchbar]  {
			padding: 5px;
			ion-searchbar {
				--background: none;
				padding: 0;
				--box-shadow: none;
				border: 1px solid #d1d1d1;
				border-radius: 50px;
			}
		}
	}
	.liat-st {
	    overflow: visible;
		background: transparent;
			ion-item {
				--padding-start: 10px;
				margin-top: 10px;
				ion-avatar {
					width: 55px;
   					 height: 55px;
				}
				ion-label {
					margin-left: 10px;
					h2 {
						margin: 0px;
						color: #222222;
						font-size: 14px;
						font-weight: 600;
						display: block;
						line-height: 18px;
					}
				}
				ion-note {
					margin-top: 10px;
				}
			}
	}
}