[btngetsocial]{
	height: 30px;
    --padding: 0;
    --min-height: 1px;
    font-size: 12px;
}
[center]{
	text-align: center;
	font-weight: 500;
}
[userImg]{
	width:150px;
	height:150px;
	position: relative;
	margin:0 auto;
	img{
		border-radius: 250px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	ion-button{
		min-width: 1px;
	    min-height: 1px;
	    width: 40px;
	    height: 40px;
	    border-radius: 50px;
	    background: var(--primary-color);
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    --border-radius: 50px;
	    --padding: 0 !important;
	    padding: 0 !important; 
	    position: absolute;
	    right: 0;
	    bottom:0;
	    border:2px solid #fff;
	    ion-icon{
	    	min-width: 50px;
	    }
	}
}
[form]{
	margin:20px 0 0;
	ion-row{
		margin:10px 0 0;
		ion-col{
			label{
				font-size: 13px;
				color: #777;
				display: block;
				margin:0 0 8px;
			}
			ion-input, ion-textarea{
				border:1px solid #eee;
				border-radius: 5px;
				font-size: 14px;
				color: #222;
				padding:10px;
			}
		}
	}
}
[btnsave]{
	height: 50px;
	border-radius: 10px;
	width: 100%;
}