<ion-header>
	<ion-toolbar>
	  <div flexHeader>
		  <div backHead>
			  <ion-back-button defaultHref="" [text]="" icon="chevron-back-outline"></ion-back-button>
		  </div>
		  <ion-title>Notifications</ion-title>
	  </div>
	</ion-toolbar>
  </ion-header>
	  
  <ion-content>
	  <div class="main-padding">
		  <div class="servic-near">
			  <ion-list class="liat-st" lines="none">
				  <ion-item lines="none" routerLink="/chat">
					  <ion-avatar>
						  <img src="assets/img/img1.jpg">
					  </ion-avatar>
					  <ion-label>
						  <h2><strong>Somona Lisa</strong> liked your 
							post.</h2>
					  </ion-label>
					  <ion-note>27 min</ion-note>
				  </ion-item>
				  <ion-item lines="none" routerLink="/chat">
					  <ion-avatar>
						  <img src="assets/img/img2.jpg">
					  </ion-avatar>
					  <ion-label>
						<h2><strong>Afshan Tafler</strong>  join your 
							bowl.</h2>
					  </ion-label>
					  <ion-note>27 min</ion-note>
				  </ion-item>
				  <ion-item lines="none" routerLink="/chat">
					  <ion-avatar>
						  <img src="assets/img/img3.jpg">
					  </ion-avatar>
					  <ion-label>
						<h2> <strong>Lalita Ben </strong>liked your 
							photo.</h2>
					  </ion-label>
					  <ion-note>27 min</ion-note>
				  </ion-item>
  
				  <ion-item lines="none" routerLink="/chat">
					  <ion-avatar>
						  <img src="assets/img/img4.jpg">
					  </ion-avatar>
					  <ion-label>
						<h2><strong>Somona Lisa</strong> liked your 
							post.</h2>
					  </ion-label>
					  <ion-note>27 min</ion-note>
				  </ion-item>
  
				  <ion-item lines="none" routerLink="/chat">
					  <ion-avatar>
						  <img src="assets/img/img5.jpg">
					  </ion-avatar>
					  <ion-label>
							<h2><strong>Devolina</strong> accept your friend request.</h2>
					  </ion-label>
					  <ion-note>27 min</ion-note>
				  </ion-item>			
			  </ion-list>
		  </div>
	  </div>
  </ion-content>
  