<ion-header>
  <ion-toolbar>
    <div flexHeader>
		<div backHead>
			<ion-back-button></ion-back-button>
		</div>
		<ion-title>Notifications</ion-title>
	</div>
  </ion-toolbar>
</ion-header>
	
<ion-content>
	<div class="main-padding">
		<div class="servic-near">
			<ion-list class="liat-st" lines="none">
				<ion-card class="detals" lines="none">
					<div class="img-boxda">
						<img src="assets/img/img1.jpg">
					</div>
					<div class="cont-alls">
						<h5 class="name-trs"><b>Somona Lisa</b> liked your post  </h5>
						<p class="emainb"><ion-icon name="time-outline"></ion-icon> 27 min</p>
					</div>
				</ion-card>
				<ion-card class="detals" lines="none">
					<div class="img-boxda">
						<img src="assets/img/img2.jpg">
					</div>
					<div class="cont-alls">
						<h5 class="name-trs"><b>Somona Lisa</b> liked your post  </h5>
						<p class="emainb"><ion-icon name="time-outline"></ion-icon>  27 min</p>
					</div>
				</ion-card>
				<ion-card class="detals" lines="none">
					<div class="img-boxda">
						<img src="assets/img/img3.jpg">
					</div>
					<div class="cont-alls">
						<h5 class="name-trs"><b>Somona Lisa</b> liked your post  </h5>
						<p class="emainb"><ion-icon name="time-outline"></ion-icon>  27 min</p>
					</div>
				</ion-card>
				<ion-card class="detals" lines="none">
					<div class="img-boxda">
						<img src="assets/img/img4.jpg">
					</div>
					<div class="cont-alls">
						<h5 class="name-trs"><b>Somona Lisa</b> liked your post</h5>
						<p class="emainb"><ion-icon name="time-outline"></ion-icon>  27 min </p>
					</div>
				</ion-card>
				<ion-card class="detals" lines="none">
					<div class="img-boxda">
						<img src="assets/img/img5.jpg">
					</div>
					<div class="cont-alls">
						<h5 class="name-trs"><b>Somona Lisa</b> liked your post  </h5>
						<p class="emainb"><ion-icon name="time-outline"></ion-icon>  27 min </p>
					</div>
				</ion-card>
				<ion-card class="detals" lines="none">
					<div class="img-boxda">
						<img src="assets/img/img6.jpg">
					</div>
					<div class="cont-alls">
						<h5 class="name-trs"><b>Somona Lisa</b> liked your post  </h5>
						<p class="emainb"><ion-icon name="time-outline"></ion-icon>  27 min </p>
					</div>
				</ion-card>
				<ion-card class="detals" lines="none">
					<div class="img-boxda">
						<img src="assets/img/img7.jpg">
					</div>
					<div class="cont-alls">
						<h5 class="name-trs"><b>Somona Lisa</b> liked your post  </h5>
						<p class="emainb"><ion-icon name="time-outline"></ion-icon>  27 min </p>
					</div>
				</ion-card>
			</ion-list>
		</div>
	</div>
</ion-content>
